*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 132vh;
    backdrop-filter: blur(1px);
    background-size: cover;
    background:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/new.jpg);
    
}
.container{
    max-width: 700px;
    width:100%;
    background:#ffffffe3;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0,0, 0, .2);
    padding: 25px 30px;
    border-radius: 50px;
}
.container .intro{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    font-style: bold;
    text-align: center;
}
.container .intro::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 500px;
    left:60px;
    bottom: 0px;
    background: linear-gradient(rgb(222, 101, 222),rgb(128, 128, 224));
}
.container form .userdetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}
form .userdetails .inputbox{
    margin: 20px 0 12px 0;
    width: calc(100%/2-20px);
}
.userdetails .inputbox input{
    height: 38px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    padding: 15px;
    border-bottom-width: 2px;  
    transition: all 0.3s ease;  
    
}
.userdetails .inputbox .details{
    display: block;
    font-weight: 500;
    margin: 5px;
}
.userdetails .inputbox input:focus,
.userdetails .inputbox input:valid{
    border-color: #9b59b6;
}
form .button{
    height: 35px;
    margin: 35px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight:500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(rgb(222, 101, 222),rgb(128, 128, 224));

}
form .button input:hover{
    background: linear-gradient(rgb(222, 101, 222),rgb(-28, 128,224));

}
.imga{
    text-align: center;
}
.imga .logo{
    width: 15%;
    height: 15%;
}
form select .details{
    width: 100%;
    height: 45px;
}





    
  
